<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <% if @current_user.id == @post.user_id %>
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        <% else %>
          <%= link_to(@user.name, "/users/#{@user.id}/likes") %>
        <% end %>
        
        <% if @current_user.id == @post.user_id %>
        <div class="post-status">
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
          <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
            <span class="fa fa-share like-btn-unlike">共有をやめる</span>
          <% end %>
      　<% else %>
          <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
            <span class="fa fa-share like-btn">共有する</span>
          <% end %>
      　<% end %>
      　</div>
      　<% end %>
      </div>
      <p>
        <%= @post.title %>
      </p>
      <p>
        <%=safe_join(@post.content.split("\n"),tag(:br))%>
      </p>
      
      <div class="post-time">
        <%= l @post.created_at %>
      </div>
      <% if @current_user.id == @post.user_id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>